{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        p{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .bcontent{
          margin-top: 10px;
        }
    </style>
  </head>
  <body>
    {% block body %}
    <div
      style=" margin-top: 40px;
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
      "
    >
      {% for item in item_list %}



      <div class="container bcontent">
        
        
        <div class="card" style="">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{item.item_image}}" alt="food image">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{item.item_name}}</h5>
                        <p class="card-text">{{item.item_desc}} </p>
                        <p class="card-text">${{item.item_price}} </p>
                        <a href="{% url 'details' item.id %}" class="btn btn-primary">Details</a>
                        <a href="{% url 'update_food' item.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'delete' item.id %}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    

      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
